# App
NODE_ENV=development
PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD="password"
DB_NAME=one_million_test

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d

# Optional debug
DEBUG_DB_CONFIG=false
